.btn-log-out{
  border-radius: 30px;
  background-color: #44BAD3;
  color: #44BAD3;
  border: none;
  color: white;
  width: fit-content;
  margin-left: 47%; 
  padding: 6px;
  transition: background-color 0.5s;
}

.btn-log-out:hover {
  background-color: #0d6efd;
}

@media screen and (max-width: 768px){
  .btn-log-out{
    margin-left: 40%; 
}
