.product-card {
  width: 200px;
  background-color: #EDF3F8;
  padding: 15px;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.image-product {
  width: 170px;
  height: 170px;
  align-items: center;
  display: flex;
  padding: 10px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2px;
}

.product-icon {
  display: flex;
  justify-content: end;
  width: 25px;
  height: 25px;
}

.best-sellers {
  display: flex;
  justify-content: space-around;
}

.new-product {
  display: flex;
  justify-content: space-around;
}

.fav-products-form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
}

li {
 
  border-bottom: 1px solid #44BAD3;
  list-style: none;
  margin-bottom: 10px;
  
}

.fav-product {
  align-items: center;
  flex-direction: column;
  display: flex;
  border-radius: 25px;
  padding: 25px;
  max-width: 400px;
  min-width: 300px;
  align-self: center;
  background-color: #EDF3F8;
  margin: 25px;
}

.fav-product:not(.with-favorites) {
  background-color: transparent;
}

@keyframes heartbeat {
  from {
    transform: scale(2);
  }

  to {
    transform: scale(1.1);
  }
}

h1,
h2,
h3 {
  color: #44BAD3;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 22px;
  margin-bottom: 40px;
}

.heart-button,
.cart-button,
.plus-button {
  border: none;
  background: none;
  size: 30px;
  transition: transform 0.5s;
  justify-content: space-between;
}

.card-btn{
  justify-content: space-between;
}
.fav-product {
  background-color: #EDF3F8;
  width: fit-content;
  padding: 50px;
  flex-direction: column;
  display: flex;
  border-radius: 25px;
  margin-bottom: 25px;
  padding: 25px;
  max-width: 400px;
  min-width: 300px;
  
}
.heart-button :hover {
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
