
.navbarStyle {
  background-color: #44BAD3 !important;
  color: white;
}

.juzgar-logo{
  height: 90px;
  width: auto;
}

.icon-user, .icon-shop{
  height: 36px;
  width: auto;
}

.btn.add-product{
  border-radius: 30px;
  background-color: white;
  color: #44BAD3;
  border: none;
}
.button-add-product{
  border-radius: 30px;
  background-color: #44BAD3;
  border: none;
  padding: 10px;
  color: white;
  width: 200px;
  transition: background-color 0.5s;
}

.button-add-product:hover {
  background-color: #0d6efd;
}
.navbar-icons{
  display: flex;
  align-items: center;
}